

/* =Common Styles
-------------------------------------------------------------- */

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

body {
	background: #EDE574;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #E1F5C4, #EDE574);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, rgb(174, 236, 81), #EDE574); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	height: 100vh;
	width: 100%;
	
}

section { overflow: hidden; }
::selection { background: #161a1b; color: #fff; }
::-moz-selection { background: #161a1b; color: #fff; }


/* =Typography
-------------------------------------------------------------- */
a {
    text-decoration: none;
}

h1, h2 { margin: 0; }

h1 {
	font-size: 80px;
	font-weight: 800;
	line-height: 80px;
	letter-spacing: -0.08em;
	color: #161a1b; 
}

h2 {
	font-size: 18px;
	font-weight: 800;
	line-height: 1em;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #161a1b;
}


/* =Content Styles
-------------------------------------------------------------- */


.scene,
.layer {
  display: block;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.scene {
  position: relative;
  overflow: hidden;
}

.layer { position: absolute; }

.layer div {
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

/*Preloader styles
--------------------------------------------------------------*/
html.cl-preload .home-content__main {
	opacity: 0;
  }
  html.cl-loaded .home-content__main {
	animation-duration: 2s;
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
  } 
.preloader{
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: fixed;
	background: #E0EAFC;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	height: 100vh;
	width: 100%;
	overflow: hidden;
	z-index: 800;
}
.pre-img{
	width: 100px;
	height: 100px;
	top:40%;
	left:45%;
	position: absolute;
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
}
.prel-img{
	position: relative;
}
.loading{
	top: -26%;
	left:115%;
	display: inline-block;
	position: relative;
	width: 400px;
	height: 500px;
}
.dot{
	position: relative;
	height: 6px;
	width: 6px;
	-webkit-transform: translate3d(-50%, -50%, 0);
	-ms-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0);
}
.dot > div{
	content: "";
	width: 10px;
	height: 10px;
	border-radius: 50%;
	top: 0;
	left: 0;
	position: absolute;
}
.dot > div:nth-of-type(1){
	left:25px;
}
.dot > div:nth-of-type(3){
	left:-25px;
}
/*-->preloader animation */
@keyframes dots-fade{
    0% {
      opacity: .2;
    }
    20% {
      opacity: 1;
    }
    100% {
      opacity: .2;
    }	
}
#dot-in > div:nth-child(1){
	animation: dots-fade 1s infinite ;
	-webkit-animation:  dots-fade 1s infinite ;
	animation-delay: .5s;
	-webkit-animation-delay: .5s;
	background: #f3831a;
}
#dot-in > div:nth-child(2){
	animation: dots-fade 1s infinite ;
	-webkit-animation:dots-fade 1s infinite;
	animation-delay: .3s;
	-webkit-animation-delay: .3s;	
	background: #ad590a;
}
#dot-in > div:nth-child(3){
	animation: dots-fade  1s infinite ;
	-webkit-animation: dots-fade  1s infinite ;
	animation-delay: .1s;
	-webkit-animation-delay: .1s;
	background: #666666;
}

/* Navbar styles
--------------------------------------------------------------*/

.s-header {
  width: 100%;
  height: 70px;
  background-color:rgba(78, 78, 78, 0.671);
  position: absolute;
	top: 4.2rem;
	padding-left: 40px;
  z-index: 500;
}

.s-header > .row {
  position: relative;
  height: 72px;
  max-width: 1400px;
}

.s-header.offset {
  -webkit-transform: translate3d(0, -100%, 0);
  -ms-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.s-header.scrolling {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.s-header.sticky {
  position: fixed;
  top: 0;
  background-color: #414042 !important;
  opacity: 0;
  visibility: hidden;
  z-index: 600;
}

.s-header.sticky > .row {
  max-width: 1200px;
}

.s-header.sticky .header-logo {
  padding-left: 20px;
}

.s-header.sticky .header-nav-wrap {
  top: 0;
  right: 20px;
  left: auto;
}

.s-header.sticky.scrolling {
  opacity: 1;
  visibility: visible;
}

/* -------------------------------------------------------------------
 * ## header logo 
 * ------------------------------------------------------------------- */
.header-logo {
  display: inline-block;
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 501;
}

.header-logo a {
  display: block;
  margin: 3px 0 0 0;
  padding: 0;
  outline: 0;
  border: none;
}

.header-logo img {
  width: 130px;
  height: 87px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* ------------------------------------------------------------------- 
 * ## mobile menu toggle 
 * ------------------------------------------------------------------- */
.header-menu-toggle {
  display: none;
  position: absolute;
  right: 29px;
  top: 18px;
  height: 42px;
  width: 42px;
  line-height: 42px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
  color: rgba(242, 150, 60, 0.5);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header-menu-toggle::before {
  display: inline-block;
  content: "Menu";
  height: 42px;
  left: auto;
  text-align: right;
  padding-left: 15px;
  padding-right: 10px;
  position: absolute;
  top: 0;
  right: 100%;
}

.header-menu-toggle:hover,
.header-menu-toggle:focus {
  color: rgb(150, 48, 48);
}

.header-menu-toggle span {
  display: block;
  width: 24px;
  height: 2px;
  margin-top: -1px;
  position: absolute;
  left: 9px;
  top: 50%;
  right: auto;
  bottom: auto;
  background-color: white;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}

.header-menu-toggle span::before,
.header-menu-toggle span::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: inherit;
  position: absolute;
  left: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.header-menu-toggle span::before {
  top: -9px;
}

.header-menu-toggle span::after {
  bottom: -9px;
}

.s-header.sticky .header-menu-toggle {
  top: 12px;
}

.header-menu-toggle.is-clicked span {
  background-color: rgba(151, 39, 39, 0);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.header-menu-toggle.is-clicked span::before,
.header-menu-toggle.is-clicked span::after {
  background-color: white;
}

.header-menu-toggle.is-clicked span::before {
  top: 0;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

.header-menu-toggle.is-clicked span::after {
  bottom: 0;
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
}

/* ------------------------------------------------------------------- 
 * ## navigation 
 * ------------------------------------------------------------------- */
.header-nav-wrap {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: .3rem;
  position: absolute;
  top: 0;
  left: 200px;
}

.header-nav {
  display: inline-block;
  list-style: none;
  margin: 0;
  height: 72px;
}

.header-nav li {
  display: inline-block;
  padding-left: 0;
  margin-right: 2rem;
}

.header-nav li a {
  display: block;
  line-height: 72px;
  color: rgb(255, 255, 255);
}

.header-nav li.current a,
.header-nav li a:hover {
  color: rgb(228, 50, 43);
}

/* ------------------------------------------------------------------- 
 * responsive:
 * header
 * ------------------------------------------------------------------- */
@media only screen and (max-width:800px) {
  .s-header {
    top: 0;
  }

  .s-header > .row {
    max-width: none;
    width: auto;
  }

  .header-logo {
    left: 40px;
    top: 3rem;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  .header-logo img {
    width: 120px;
    height: 60px;
  }

  .s-header.sticky .header-logo {
    top: 50%;
    left: 20px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .header-menu-toggle {
    top: 3rem;
    right: 40px;
  }

  .header-nav-wrap {
    display: none;
    height: auto;
    width: 100%;
    right: auto;
    top: 0;
    left: 0;
    background-color: rgb(226, 10, 10);
    padding: 120px 40px 21px;
  }

  .header-nav-wrap .header-nav {
    display: block;
    height: auto;
    margin: 0 0 4.2rem 0;
    border-top: 1px solid rgba(255, 255, 255, 0.07);
  }

  .header-nav-wrap .header-nav li {
    display: block;
    margin: 0;
    padding: 0;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.07);
  }

  .header-nav-wrap .header-nav li a {
    padding: 18px 0;
    line-height: 18px;
  }

  .s-header.sticky .header-nav-wrap {
    right: 0;
  }

  .header-menu-toggle {
    display: block;
  }

}

@media only screen and (max-width:400px) {
  .header-logo {
    left: 30px;
  }

  .s-header.sticky .header-logo {
    left: 10px;
  }

  .header-menu-toggle {
    right: 30px;
  }

  .header-menu-toggle::before {
    display: none;
  }

}

/* -------------------------------------------------------------------
 * make sure the menu is visible on larger screens
 * ------------------------------------------------------------------- */
@media only screen and (min-width:801px) {
  .header-nav-wrap {
    display: block !important;
  }

}

/* ===================================================================
 * # home
 *
 * ------------------------------------------------------------------- */
 .s-home {
  width: 100%;
  height: 100vh;
  min-height: 786px;
  
	background-color: transparent;
  position: relative;
  display: table;
}

.s-home::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .2;
  background-color: #000000;
}

.s-home .shadow-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .2;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
}

.no-js .s-home {
  background: #000000;
}

/* ------------------------------------------------------------------- 
 * ## home content
 * ------------------------------------------------------------------- */
/* .home-content {
  display: table-cell;
  width: 100%;
  height: 100vh;
  vertical-align: bottom;
  padding-bottom: 15.6rem;
  overflow: hidden;
  position: relative;
}

.home-content h1 {
  font-size: 6.6rem;
  font-weight: 600;
  line-height: 1.5;
  margin-top: 0;
  color: #FFFFFF;
}

.home-content__main {
  padding-right: 28rem;
  position: relative;
  max-width: 1400px;
}

.home-content__button {
  margin-top: 6rem;
}

.home-content__button .btn {
  margin-right: 0;
}
*/
.m-window{
  background: rgb(61, 61, 59);
  padding: 7rem 0;
}
.m-home{
  background:none;
  margin:0;
  height: 500px;
  padding: 0;
}

.m-row{
  margin: 0;
  padding: 0;
}

.m-caro{
  background:none;
  margin: 0;
  padding:.5rem 0;

}

.caro-img{
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background: none;
}
.m-namtag{
  background-color: black;

}

/* ------------------------------------------------------------------- 
 * ## home scroll
 * ------------------------------------------------------------------- */
 .home-content__scroll {
  position: absolute;
  right: 8rem;
  bottom: 6rem;
  -webkit-transform: rotate(-90deg) translate3d(100%, 50%, 0);
  -ms-transform: rotate(-90deg) translate3d(100%, 50%, 0);
  transform: rotate(-90deg) translate3d(100%, 50%, 0);
  -webkit-transform-origin: right bottom;
  -ms-transform-origin: right bottom;
  transform-origin: right bottom;
}

.home-content__scroll .scroll-link {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .35rem;
  text-align: left;
  color: #FFFFFF;
  position: relative;
  padding-right: 200px;
}

.home-content__scroll .scroll-link:hover {
  color:#17a636;
}

.home-content__scroll::after {
  content: "";
  display: block;
  background-color: rgba(255, 255, 255, 0.3);
  width: 150px;
  height: 1px;
  position: absolute;
  right: 0;
  top: 50%;
}



/* animate .home-content__main
 * ------------------------------------------------------------------- */
html.cl-preload .home-content__main {
  opacity: 0;
}

html.cl-loaded .home-content__main {
  animation-duration: 2s;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

html.no-csstransitions .home-content__main {
  opacity: 1;
}

/* ------------------------------------------------------------------- 
 * ## home animations
 * ------------------------------------------------------------------- */

/* fade in */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 150%, 0);
    -ms-transform: translate3d(0, 150%, 0);
    transform: translate3d(0, 150%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

}

@keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 150%, 0);
    -ms-transform: translate3d(0, 150%, 0);
    transform: translate3d(0, 150%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

}

/* fade out */
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -150%, 0);
    -ms-transform: translate3d(0, -150%, 0);
    transform: translate3d(0, -150%, 0);
  }

}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -150%, 0);
    -ms-transform: translate3d(0, -150%, 0);
    transform: translate3d(0, -150%, 0);
  }

}

/* ------------------------------------------------------------------- 
 * responsive:
 * home
 * ------------------------------------------------------------------- */
@media only screen and (max-width:1600px) {
  .home-content h1 {
    font-size: 6.4rem;
  }

  .home-content__video {
    right: 13rem;
  }

}

@media only screen and (max-width:1400px) {
  .home-content h1 {
    font-size: 6rem;
  }

}

@media only screen and (max-width:1200px) {
  .home-content h1 {
    font-size: 5.6rem;
  }

  .home-content__main {
    padding-right: 6rem;
  }

  .home-content__button,
  .home-content__video {
    display: inline-block;
    vertical-align: top;
  }

  .home-content__video {
    position: static;
    margin-top: 6rem;
    margin-left: 6rem;
    height: 6.6rem;
    line-height: 6.6rem;
  }

  .home-content__video .video-link {
    padding-left: 9rem;
    width: auto;
  }

  .home-content__video .video-icon {
    height: 6.6rem;
    width: 6.6rem;
    background-size: 12px 13px;
    position: absolute;
    top: 0;
    left: 0;
  }

}

@media only screen and (max-width:1000px) {
  .home-content h1 {
    font-size: 5.4rem;
  }

  .home-social i {
    font-size: 1.8rem;
  }

}

@media only screen and (max-width:900px) {
  .home-social {
    display: none;
  }

}

@media only screen and (max-width:800px) {
  .home-content h1 {
    font-size: 5rem;
  }

  .home-content__main {
    max-width: 600px;
  }

  .home-content__main h1 br {
    display: none;
  }

  .home-content__video {
    margin-left: 4rem;
  }

  .home-content__video .video-text {
    display: none;
  }

  .home-content__scroll {
    right: 6rem;
    bottom: 4.2rem;
  }

  .home-content__scroll .scroll-link {
    padding-right: 80px;
  }

  .home-content__scroll::after {
    width: 50px;
  }

}

@media only screen and (max-width:700px) {
  .home-content h1 {
    font-size: 4.8rem;
  }

  .home-content__main {
    max-width: 490px;
  }

}

@media only screen and (max-width:600px) {
  .home-content {
    vertical-align: middle;
    padding-top: 19.8rem;
    padding-bottom: 12rem;
  }

  .home-content h1 {
    font-size: 4.2rem;
  }

  .home-content__main {
    text-align: center;
    padding: 0 40px;
  }

  .home-content__button {
    margin-top: 3rem;
  }

  .home-content__video {
    margin-top: 1.5rem;
    margin-left: 0;
  }

  .home-content__video .video-text {
    display: inline-block;
    font-size: 11px;
  }

  .home-content__scroll .scroll-link {
    font-size: 11px;
  }

  .home-content__scroll::after {
    display: none;
  }

}

@media only screen and (max-width:500px) {
  .s-home {
    min-height: 654px;
  }

  .home-content h1 {
    font-size: 3.8rem;
  }

}

@media only screen and (max-width:400px) {
  .home-content__main {
    padding: 0 25px;
  }

  .home-content {
    padding-top: 15rem;
  }

  .home-content h1 {
    font-size: 3.5rem;
  }

  .home-content__scroll {
    right: 5rem;
  }

}

@media only screen and (max-width:350px) {
  .home-content h1 {
    font-size: 3.2rem;
  }

  .home-content__button .btn {
    padding: 0 7rem 0 4rem;
  }

}



.content{
  margin:3rem 1rem;
  height: 1590px;
  background: none;
}

.about{
  padding: .5em;
}

.prod-head{
  margin: 0;
  padding: .25rem 2rem;
  background: #0A093B;
  width: 100%;
}
.prod-head > h3{
  color:#FDE52C;
}

.prod-cont{
  margin: .25rem;
  padding: 0;
  height: 450px;
  background:none;
}

.prod-img{
  margin:.15rem;
  background-position: center;
  background-size: cover;
}

.prod-detail{
  font-size: 25px;
  font-weight: bold;
}

.prod-head > h3{
  font-size: 20px;
  text-transform: uppercase;
}